
/* reset the style provided by userStylesheet */
@import url("./reset.css");





/* header section contents */
@import url("./__light-dark-mode-change/__light-dark-mode-change__btn.css");
@import url("./__head-section/__navigation-bar/photography-gallery__navigation-bar.css");
@import url("./__head-section/__logo/photography-gallery__logo.css");

/* hero section contents */
@import url("./__hero-section/photography-gallery__hero-section.css");

/* images content */
@import url("./__content/photography-gallery__content.css");

/*images */
@import url("./__content-images/photography-gallery__content-images.css");



body{
	--light-mode-clr: hsl(100, 100%, 100%);
		--dark-mode-clr: hsl(0, 0%, 14%);
		--toggle-btn-border-clr: hsl(0, 0%, 9%);

		font-family: "Open Sans", sans-serif;


	
	
}

.photography-gallery{
	min-height:  100vh;
	max-width: 100vw;	
}

header{

 display: flex;

 align-items: center;

 justify-content: space-between;

  padding-bottom: 1rem;
 padding-block: 1rem;


 
}


