
.goal-completion__title{
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-heading);
	line-height: var(--line-height-heading);
	color: var(--clr-heading);
	text-align: var(--alignment-heading);
}

.goal-completion__title span{
  color: var(--clr-heading-text);
}
