/* || GENERAL STYLES */
*{
    box-sizing: border-box;    
}   

/* || TYPOGRAPHY for webpage  */
html{
    /* change 1rem = 14px*/
    font-size: 14px; 
}


body{
    margin: 0px;
    font-family: Nunito,sans-serif;
    /* 16px -> 1rem
       1px  -> 1/16
       14px -> 14 x (1/16) */
}

/* HEADER TYPOGRAPHY  */
h1{
    font-size: 1rem;
}

.title{
    font-weight: 800;
}

.light-dark-mode-btn{
    border: none;
    background: none;
}

.header-container{
    box-shadow: 0px 2px 4px 0px rgb(0,0,0,0.2);
    padding-inline: calc(1rem + 10px);
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
}

