/* || GENERAL STYLES */
*{
    box-sizing: border-box;    
}   

/* || TYPOGRAPHY for webpage  */
html{
    /* change 1rem = 14px*/
    font-size: 14px; 
}


body{
    margin: 0px;
    font-family: Nunito,sans-serif;
    /* 16px -> 1rem
       1px  -> 1/16
       14px -> 14 x (1/16) */
}

/* HEADER TYPOGRAPHY  */
h1{
    font-size: 1rem;
}

.title{
    font-weight: 800;
}

.light-dark-mode-btn{
    border: none;
    background: none;
}

.header-container{
    box-shadow: 0px 2px 4px 0px rgb(0,0,0,0.2);
    padding-inline: calc(1rem + 10px);
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
}

/* || COUNTRIES */
a{
  text-decoration-line: none;
  color:inherit;  
}
main{
    padding: 1rem;
}
.countries-container{
    max-width: 1280px;
    margin-inline: calc(1rem + 10px);
    padding-block: 18px;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}
.card-text{
    padding-inline: 16px;
    margin-bottom: 3rem;
}
.country-card{
    width: 250px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgb(0,0,0,0.2) ;
    border-radius: 4px;

    transition: transition 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.img-container{
    width: 100%;
    height:135px;
    border: 1px solid red;
    margin-bottom: 1rem;
    object-fit: fill;
}

.country-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title{
    font-size: calc(1rem + 10px) ;
    margin-block: 8px;
}


.country-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 16px 0px rgb(0,0,0,0.3);
}


.card-text p{
    margin-block:8px;
}