/* || GENERAL STYLES */
*{
    box-sizing: border-box;    
}   

/* || TYPOGRAPHY for webpage  */
html{
    /* change 1rem = 14px*/
    font-size: 14px; 
}


body{
    margin: 0px;
    font-family: Nunito,sans-serif;
    /* 16px -> 1rem
       1px  -> 1/16
       14px -> 14 x (1/16) */
}

/* HEADER TYPOGRAPHY  */
h1{
    font-size: 1rem;
}

.title{
    font-weight: 800;
}

.light-dark-mode-btn{
    border: none;
    background: none;
    cursor: pointer;
    
    
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}


.light-dark-mode-btn svg{
    max-width: 15px;
}


.header-container{
    box-shadow: 0px 2px 4px 0px rgb(0,0,0,0.2);    
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: 48px;
}

/* || COUNTRIES */
main{
    margin-inline: 48px;
}
a{
  text-decoration-line: none;
  color:inherit;  
}
.countries-container{
    max-width: 1280px;
    padding-block: 18px;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

@media (max-width: 670px){
    .countries-container{
        justify-content: center;
    }
    main{
        margin-inline: 24px;
    }
    .header-content{
        margin-inline: 24px;
    }
    .filter-by-region{
        margin-left:0px;
    }
}

.card-text{
    padding-inline: 16px;
    margin-bottom: 3rem;
}
.country-card{
    width: 250px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgb(0,0,0,0.2) ;
    border-radius: 4px;

    transition: transition 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.img-container{
    width: 100%;
    height:135px;
    margin-bottom: 1rem;
    object-fit: fill;
}

.country-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title{
    font-size: calc(1rem + 10px) ;
    margin-block: 8px;
}


.country-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 16px 0px rgb(0,0,0,0.3);
}


.card-text p{
    margin-block:8px;
}

/* || SEARCH AND FILTER */
.search-country{
    margin-left: 3.5rem;
    display: flex;
    margin-block: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 8px 0px rgb(0,0,0,0.3);
   padding-inline: 1.5rem;
    padding-block: 1rem;
    max-width: 25rem;
    flex-grow: 1;
}

@media (max-width: 670px){
    .search-country{
        flex-grow: 1;
        max-width: 100%;
        margin-inline: 24px;
    }
    .search-country input[type='text']{
        font-size: 1rem;
    }
    .filter-by-region{
        max-width: 100%;
        margin-left: 24px;
        
    }

}

.search-country input{
    background: transparent;
    border: none;  
    outline: none;
    font-size: 1rem;
    padding-left: 1rem;
    width: 100%;
}

.countries-not-found{
    box-shadow: 0 0 8px 0px rgb(0,0,0,0.3);
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 4px;
    font-weight: 800;

}
.search-filter-country{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 3.5rem;
    align-items: center;
}
.search-filter-country select{
    padding-inline: 1.5rem;
    padding-block: 1rem;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 8px 0px rgb(0,0,0,0.3);
    border-radius: 4px;
    
    
}


body.dark{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

.header-content.dark button{
    color: hsl(0, 100%, 100%);
}

.country-card.dark, 
.search-country.dark, 
.filter-by-region.dark{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}
.search-country.dark input{
    color: hsl(0, 100%, 100%);
}

.countries-container.dark .country-card{
    background-color: hsl(209, 23%, 22%);
}





