/* problems 
   1. cut of image from sides 
*/

*{
	margin: 0;
	box-sizing: border-box;
}



.photography-gallery__content{

	padding: 1rem;

	/* min-height: 100vh; */
}




.photography-gallery__images{
	display: grid;
	
	
	/* grid-template-areas: 
	'one'
	'two'
	'three'
	'four'
	'five'
	'six'
	'seven'
	'eight'
	'nine'
	'ten'
	'eleven'
	'twelve'
	'thirteen'
	'fourteen'; */

		
	grid-gap: 1rem;

	/* outline: 1px solid black; */

	grid-auto-flow: row;

	padding: 0.4rem;

	
	
	/* grid-auto-rows: minmax(auto, 1fr); */
	


}




/* select every image */
.photography-gallery__image-wrapper{
	
	max-width: 100%;
	min-height: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	/* background-clip: padding-box; */


	border-radius: 0.5rem;


}	


.photography-gallery__image {
	max-width: 100%;
	min-height: 100%; 


	aspect-ratio: 1 / 1;


	background-clip: padding-box;
	/* background-size: cover; */

	border-radius: inherit;

}

.photography-gallery__image:not(.photography-gallery--image-loaded){
	/* display: none; */

}



/* image has been fully loaded */
.photography-gallery__image.photography-gallery--image-loaded{

	/* background-image: none; */
}



/* breakpoints 
   1. 768px 
	 2. 1025px
	 3. 1281px 


	 my mobile device - 360px , 720px, 1440px 

	 smartwatch    - 92.16px to 172.8px
	 mobile devices - 320px to 480px 
	 tablets/ipads  - 481px to 768px
	 laptops/small screens - 769px to 1024px	
	 desktop/large screen  - 1025px to 1200px 
	 extra large screen  - 1201px to 1440px
	 xxl   large screen  - 1440px to 1600px
	 xxxL                - 1600px to 1920px
	 xxxxl                - 1920px and beyond


	

	
	
	1500px - xl
  1920px - xxxl
	1920px - xxxl and beyond 


	 desktop display - 1280px to 1920px
	 mobile          - 360px  to 414px
	 tablet          - 601px to 1280px


	 desktop top 10 screen resolution
	 1920 x 1080    - 8.83%
	 1366 x 768     - 6.09%
	 1536 x 864     - 4.02%
   1280 x 720     - 6.07%
	 1440 x 900     - 5.93%
	 1600 x 900     - 3.22%

	 mobile screen resolution worldwide
	 360  x 800     - 7.43%
   390 x 844      - 3.89%
	 414 x 896      - 5.65%
	 412 x 915      - 3.41%
   393 x 873      - 3.03%
   360 x 780      - 2.72%
	 360 x 640      - 2.53%
	 
	 tablet screen resolution worldwide

	 
	
	 
	 
	 
	 
	 
	 
	 desktop monitor - 1280 x 720 to 1920 x 1080
	 mobile         - 360 x 640   to 414 x 896
	 tablet        - 601 x 962    to 1280 x 800


	 smartwatch - 0.96inch to 1.8inch (92.16px to 172.8px)
	 
*/


/*
  media queries break
	(max-width: 180px)
	(min-width: 181px) and (max-width: 480px)
	(min-width: 481px) and (max-width: 768px)
	(min-widht: 769px) and (max-width: 1024px)
	(min-width: 1024px) and (max-width: 1200px)
	(min-width: 1201px) and (max-width: 1600px)
	(min-width: 1501px) and (max-width: 1600px)
	(min-width: 1601px) and (max-width: 1920px)
	(min-width: 1921px) 

 */

/* image sizes break
  blurry - 20px 
	100px and 200px - smartwatch
	300px and 500px - mobiles
	800px - tablets
  1100px and 1200px - laptops
	1920 - largest size
*/





/* smartwatch */
@media only screen and (max-width: 180px){

	/*single column layout */
	
}

/* mobile */
@media only screen and (min-width: 181px) and (max-width: 480px){

	
}

/* tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	
	.photography-gallery__images{

		/* 2 column layout */		
		/* grid-template-areas: 
		'one two'
		'three four'
		'five six'
		;
		color: brown; */


		grid-template-columns: repeat(2, 1fr);

	}

	
	

}

/* laptops and small screen */
@media only screen and (min-width: 769px) and (max-width: 1024px){

	
	.photography-gallery__images{

		/* 3 column layout */		
		/* grid-template-areas: 
		'one two three'
		'four five six'
		;
		
		color: rebeccapurple;		 */
		grid-template-columns: repeat(3, 1fr);
	}

}


/* desktop and large screen */
@media only screen and (min-width: 1025px) and (max-width: 1200px){
	
	.photography-gallery__images{

		/* 4 column layout */
		/* grid-template-areas: 
		'one two three four'
		'five six ... ...'
		;

		color: blue; */
		grid-template-columns: repeat(4, 1fr);
	}

}


/* extra large screen */
@media only screen and (min-width: 1201px) and (max-width: 1600px){

	.photography-gallery__images{

		/* 4 column layout */
		/* grid-template-areas: 
		'one two three four'
		'five six ... ...'
		;

		color: blue; */
		grid-template-columns: repeat(4, 1fr);
	}

}


/* extra-extra large screen */
/* @media only screen and (min-width: 1601px) and (max-width: 1920px){ */
@media only screen and (min-width: 1601px) {
	


	.photography-gallery__images{

		/* 5 column layout */
		/* grid-template-areas: 
		'one two three four five'
		
		;

		color: blue; */
		grid-template-columns: repeat(5, 1fr);
	}

}





/* extra-extra large screen and beyon */
@media  (min-width: 1921px) {

	.photography-gallery__images{

			/* 5 column layout */
			/* grid-template-areas: 
			'one two three four five'
		
			;
	
			color: blue; */
			/* grid-template-columns: repeat(5, 1fr); */
		}

}









.photography-gallery--blur-image-1:not(.photography-gallery--image-loaded){
	/* grid-area: one; */
	/* background-color: #8ca0ff; */
	background-image: url("../images/adventure/1/DSC01016_20x30.jpeg");
	
}

.photography-gallery--blur-image-2:not(.photography-gallery--image-loaded){
	/* grid-area: two; */
	/* background-color: #ffa08c; */
	background-image: url("../images/adventure/2/DSC06386_20x13.jpeg");
	
	
}

.photography-gallery--blur-image-3:not(.photography-gallery--image-loaded){
	/* grid-area: three; */
	/* background-color: #ffff64; */
	background-image: url("../images/adventure/3/DSC07486_20x13.jpeg");
}

.photography-gallery--blur-image-4:not(.photography-gallery--image-loaded){
	/* grid-area: four; */
	/* background-color: #8cffa0; */
	background-image: url("../images/adventure/4/DSC07571_20x13.jpeg");
}

.photography-gallery--blur-image-5:not(.photography-gallery--image-loaded){
	/* grid-area: five; */
	/* background-color: aquamarine; */
	background-image:url("../images/adventure/5/DSC08444_20x13.jpeg");
}

.photography-gallery--blur-image-6:not(.photography-gallery--image-loaded){
	/* grid-area: six; */
	background-image: url("../images/landscape-travel/1/DSC02108_20x13.jpeg");
}

.photography-gallery--blur-image-7:not(.photography-gallery--image-loaded){
	/* grid-area: seven; */
	background-image: url("../images/landscape-travel/2/DSC04894_20x11.jpeg");
}

.photography-gallery--blur-image-8:not(.photography-gallery--image-loaded){
	/* grid-area: eight; */
	background-image: url("../images/landscape-travel/3/DSC07202_20x13.jpeg");
}

.photography-gallery--blur-image-9:not(.photography-gallery--image-loaded){
	/* grid-area: nine; */
	background-image: url("../images/landscape-travel/4/DSC07325_20x13.jpeg");
}

.photography-gallery--blur-image-10:not(.photography-gallery--image-loaded){
	/* grid-area: ten; */
	background-image: url("../images/landscape-travel/5/DSC08670_20x13.jpeg");
}

.photography-gallery--blur-image-11:not(.photography-gallery--image-loaded){
	/* grid-area: eleven; */
	background-image: url("../images/real-estate/1/DSC02100_20x13.jpeg");
}

.photography-gallery--blur-image-12:not(.photography-gallery--image-loaded){
	/* grid-area: twelve; */
	background-image: url("../images/real-estate/2/DSC02132_20x13.jpeg");
}

.photography-gallery--blur-image-13{
	/* grid-area: thirteen; */
	background-image: url("../images/real-estate/3/DSC02156_20x13.jpeg");
}

.photography-gallery--blur-image-14{
	/* grid-area: fourteen; */
	background-image: url("../images/real-estate/4/DSC02182_20x13.jpeg");
}

.photography-gallery--blur-image-15{
	/* grid-area: fourteen; */
	background-image: url("../images/real-estate/5/DSC02189_20x13.jpeg");
}


/* .photography-gallery--square-img{
	grid-area: squareImg;
	background-color: chocolate;
}

.photography-gallery--tall-img{
	grid-area: tallImg;
	background-color: blueviolet;
} */
